.vscode/

build

algorithm/Makefile
algorithm/CMakeFiles/
algorithm/CMakeFiles/
algorithm/cmake_install.cmake
algorithm/CMakeCache.txt

**/__pycache__

algorithm/libRayTracing.dll
algorithm/libRayTracing.dll.a

gui/.venv

thesis/aux/
.vscode/settings.json
